# general
ontop
volume=70
idle=yes
hwdec=auto

# window
autofit=40%x40%
geometry=-24+80

# subtitles
sub-border-size=2.5
sub-pos=97
sub-scale=0.7

# osd
osd-bar-align-y=0.98
osd-border-size=2.5
osd-color=1.0/1.0/1.0/0.3
osd-font='Bitstream Vera Sans'
osd-scale=0.7

# audible
{{ .mpv.audible }}
